<div class="nested-fields">

	<div class="form-group">
	  <%= f.label "園児名" %><br />
	  <%= f.text_field :name, autofocus: true, autocomplete: "name" ,:size => "30"%>
	</div>
	<div class="form-group">
	  <%= f.label "保護者" %><br />
	  <%= f.collection_select :user_id, User.all, :id, :name ,
	  :size => "30",:prompt => "選択してください"%>
	</div>


	<%= link_to_remove_association "園児情報を削除" , f %>

</div>
