<%= form_for(@class_name,url: admins_class_name_path(@class_name.id)) do |f| %>

<h1>クラス情報編集</h1>
<% if @class_name.errors.any? %>
<ul>
  <% @class_name.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>
</ul>

<div class="col-xs-12 col-md-3" style="margin-bottom: 20px;">
  <div class="field">
    <%= f.label "クラス名" %><br>
    <%= f.text_field :name %><br>
  </div>
  <div class="field">
    <%= f.label "担任名" %><br>
    <%= current_admin.name %>
    <%= f.hidden_field :admin_id ,:value => current_admin.id %>
  </div>
</div>

<div id="children" class="col-xs-12 col-md-9">

  <div id="class_children">
  <%= f.fields_for :children do |child| %>
   <%= render 'child_fields', f: child %>
  <% end %>

  <div id="links">
      <%= link_to_add_association '園児を追加', f, :children ,
      class: "btn btn-info"%>
    </div>

  </div>
</div>

<div class="col-xs-12" style="margin-top: 50px;">
  <%= f.submit "クラスを保存する", class: "btn btn-success"%>
</div>

<% end %>
