
<div class="col-xs-6">
<h1>投稿詳細</h1>
<p>
<strong>名前</strong>
<%= @child.name %>
</p>

<p>
<strong>保護者名</strong>
<%= @child.user.name %>
</p>

<p>
<strong>特記事項</strong>
<%= simple_format(@child.information) %>
</p>
<p>
<strong>タイトル</strong><br>
<%= @child_post.title %>
</p>

<p>
<strong>本文</strong>
<%= simple_format(@child_post.body) %>
</p>

<p>
<strong>様子</strong>
<% if @child_post.condition == 4 %>
  絶好調！！<br>
  <i class="far fa-laugh-squint"></i>
  <% elsif @child_post.condition == 3 %>
  好調！<br>
  <i class="far fa-smile"></i>
  <% elsif @child_post.condition == 2 %>
  普通<br>
  <i class="far fa-meh"></i>
  <% elsif @child_post.condition == 1 %>
  不調<br>
  <i class="far fa-frown"></i>
  <% else %>
  絶不調<br>
  <i class="far fa-dizzy"></i>
  <% end %>
</p>
</div>
<div class="col-xs-6">
<h1>本日のベストショット！！</h1>
<%= image_tag @child_post.image.thumb.url %>
</div>

<div class="col-xs-12">
<%= link_to "戻る",admins_child_path(@child.id),class: "btn btn-info", "style" => "float: left;" %>

<%= link_to "編集",edit_admins_child_child_post_path(@child.id,@child_post.id),class: "btn btn-success" %>
<%= link_to "削除",admins_child_child_post_path(@child.id,@child_post.id), method: :delete,
"data-confirm" => "本当に削除しますか？",class: "btn btn-danger", "style" => "float: right;" %>
</div>
