<h1>マイページ</h1>
<p>ようこそ！<%= current_admin.name %>さん</p>

<h1>投稿一覧</h1>
<table class="table table-hover table-inverse">
<thead>
	<th>投稿者</th>
	<th>タイトル</th>
	<th>内容</th>
</thead>
<tbody>
　<% current_admin.posts.each do |post| %>
  <tr>
	<td><%= post.admin.name %>先生</td>
	<td><%= post.title %></td>
	<td><%= post.body.truncate(20) %></td>
	<td><%= link_to "詳細",admins_post_path(post.id) %></td>
  <% end %>
  </tr>
</tbody>
</table>



