<h1>お知らせ一覧</h1>
<table class="table table-hover table-inverse">
<thead>
	<th>日付</th>
	<th>投稿者</th>
	<th>タイトル</th>
	<th class="body">内容</th>
	<th></th>
</thead>
<tbody>
　<% @posts.each do |post| %>
  <tr>
	<td><%= post.created_at.strftime("%m/%d") %></td>
	<td><%= post.admin.name %></td>
	<td><%= post.title %></td>
	<td class="body"><%= post.body.truncate(20) %></td>
	<td><%= link_to "詳細",post_path(post.id),class: "btn btn-default" %></td>
  <% end %>
  </tr>
</tbody>
</table>

