<h1>園児情報編集</h1>

<% if @child.errors.any? %>
<ul>
  <% @child.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>
</ul>


  <div class="field">
    <strong>クラス名</strong><br />
    <%= @child.class_name.name %>
  </div>

  <div class="field">
    <strong>担任名</strong><br />
    <%= @child.class_name.admin.name %>
  </div>

<%= form_for(@child,url: admins_child_path(@child.id)) do |c| %>

      <div class="field">
        <%= c.label "園児名" %><br />
        <%= c.text_field :name, autofocus: true, autocomplete: "name" ,:size => "60"%>
      </div>
      <div class="field">
        <%= c.label "保護者" %><br />
        <%= c.collection_select :user_id, User.all, :id, :name ,:size => "60"%>
      </div>

      <div class="field">
        <%= c.label "特記事項" %><br />
        <%= c.text_area :information, autofocus: true, autocomplete: "information" ,:size => "60x10"%>
      </div>

  <div style="margin: 50px 0;">
    <%= c.submit "変更を保存する", class: "btn btn-success"%>
  </div>

<% end %>