<div class="col-xs-12 col-md-4">
<h1>園児詳細</h1>
<p>
<strong>クラス名</strong>
<%= @child.class_name.name %>
</p>

<p>
<strong>担任</strong>
<%= @child.class_name.admin.name %>先生
</p>

<p>
<strong>名前</strong>
<%= @child.name %>
</p>

<p>
<strong>保護者名</strong>
<%= @child.user.name %>
</p>

<p>
<strong>特記事項</strong>
<%= simple_format(@child.information) %>
</p>

<%= link_to "クラス詳細へ",admins_class_name_path(@child.class_name.id),class: "btn btn-primary" ,"style" => "margin-right:30px;"  %>
  <% if @child.class_name.admin == current_admin %>
    <%= link_to "編集",edit_admins_child_path(@child.id),class: "btn btn-success" %>
  <% end %>
</div>

<div class="col-xs-12 col-md-8">
<h1>投稿一覧
  <% if @child.class_name.admin == current_admin %>
	<%= link_to "新規投稿",new_admins_child_child_post_path(@child.id),class: "btn btn-success","style" => "float:right;" %>
  <% end %>
</h1>
<table class="table table-hover table-inverse">
<thead>
	<th>日付</th>
	<th>タイトル</th>
	<th class="body">内容</th>
	<th>様子</th>
	<th></th>
</thead>
<tbody>
  <% @child.child_posts.reverse_order.each do |post| %>
  <tr>
	<td><%= post.created_at.strftime("%m/%d") %></td>
	<td><%= post.title %></td>
	<td class="body"><%= post.body.truncate(30) %></td>
	<td id="conditon" value="#{post}">
	<% if post.condition == 4 %>
	<i class="far fa-laugh-squint"></i>
	<% elsif post.condition == 3 %>
	<i class="far fa-smile"></i>
	<% elsif post.condition == 2 %>
	<i class="far fa-meh"></i>
	<% elsif post.condition == 1 %>
	<i class="far fa-frown"></i>
	<% else %>
	<i class="far fa-dizzy"></i>
	<% end %>
	</td>
	<td><%= link_to "詳細",admins_child_child_post_path(@child.id,post.id),class: "btn btn-default" %></td>
  <% end %>
  </tr>
</tbody>
</table>

<h1>様子の変化</h1>
	<% @all = [] %>
	<% @child.child_posts.select(["created_at","condition"]).reverse_order.limit(5).each do |c| %>
	<% @child_posts = [] %>
	<% @child_posts << c.created_at.strftime("%m月%d日") %>
	<% @child_posts << c.condition %>
	<% @all << @child_posts %>
	<% end %>

<%= line_chart @all,min: 0,max: 4,xtitle: "日付", ytitle: "
絶不調　  ←  普通　→    絶好調"%>

</div>

<% if @child.class_name.admin == current_admin %>
<%= link_to "園児を削除する", admins_child_path(@child.id),method: :delete,"data-confirm" => "本当に削除しますか？","style" => "float:right;color:red;margin-top:100px;" %>
<% end %>