<h2>パスワードを変更する</h2>

<p>パスワードを再設定します。<br>
   新しいパスワードを入力してください。</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
<div class="col-xs-9">
  <div class="field">
    新しいパスワード：
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上の英数字)</em><br />
    <% end %>
  </div>

  <div class="field" style="margin-top: 10px;">
    パスワードの確認：
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワード再設定用メールを送信" ,
    "style" => "margin-top: 20px;"%>
  </div>

  <div style="margin-top: 50px;">
  <%= link_to "ログイン画面へ戻る", new_session_path(resource_name),
  class: "btn btn-primary"%>
  </div>
<% end %>
</div>