<h2>パスワードを忘れてしまった方へ</h2>
<div class="col-xs-9">
<p>以下の欄に登録したメールアドレスをご入力ください。<br>
   パスワード再設定について、メールでご連絡致します。</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  	メールアドレス：
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,:size => "40"%>
  </div>

  <div class="actions">
    <%= f.submit "パスワード再設定用メールを送信" ,
    "style" => "margin-top: 20px;"%>
  </div>

  <div style="margin-top: 50px;">
	<%= link_to "ログイン画面へ戻る", new_session_path(resource_name),
  class: "btn btn-primary"%>
  </div>
<% end %>