<!DOCTYPE html>
<html>
  <head>
    <title>Renrakucho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

  </head>

  <body>
  <% if request.path.start_with?('/admins') %>
  <header class="navbar-fixed-top navbar-inverse" style="background-color: #98fb98;">
      <div class="container">
      <nav>
        <% if admin_signed_in? %>
        <div style="font-size: 30px;color: gray;">Renrakucho@職員
          <%= link_to "",destroy_admin_session_path,method: :delete,class: 'glyphicon glyphicon-log-out',"style" => "float:right;color: gray;padding-top:10px;",id: "logouted"%></div>
        <ul id="ham-menu" class="nav navbar-nav navbar-right" style="background-color: #98fb98">
          <li><%= link_to admin_path(current_admin.id) do%>
                <i class="fas fa-user"> マイページ</i>
              <% end %>
          </li>
          <li><%= link_to admins_posts_path do %>
                <i class="fas fa-info-circle"> お知らせ一覧</i>
              <% end %>
          </li>
          <li><%= link_to admins_path do %>
                <i class="fas fa-users"> 職員一覧</i>
              <% end %>
          </li>
          <li><%= link_to admins_class_name_index_path do %>
                <i class="fas fa-school"> クラス一覧</i>
              <% end %>
          </li>
          <li><%= link_to admins_children_path do %>
            <i class="fas fa-child"> 園児一覧</i>
          <% end %>
          </li>
          <li id="logout"><%= link_to destroy_admin_session_path,method: :delete do %>
                <i class="fas fa-sign-out-alt"> ログアウト</i>
              <% end %>
          </li>
      <% else %>
        <span style="font-size: 30px;color: gray;">Renrakucho@職員</span>
        <ul id="ham-menu" class="nav navbar-nav navbar-right" style="background-color: #98fb98;">
          <li><%= link_to "ログイン",new_admin_session_path %></li>
          <li><%= link_to "新規登録",new_admin_registration_path %></li>
        </ul>
      <% end %>
      </nav>
        <div class="menu-background" style="background-color: #98fb98"></div>
      </div>
    </header>
  <% else %>
    <header class="navbar-fixed-top navbar-inverse" style="background-color: #FFCCCC;">
      <div class="container">
      <nav>
        <% if user_signed_in? %>
        <div style="font-size: 30px;color: gray;">Renrakucho
        <%= link_to "",destroy_user_session_path,method: :delete,class: 'glyphicon glyphicon-log-out',"style" => "float:right;color: gray;padding-top:10px;",id: "logouted"%></div>
        <ul id="ham-menu" class="nav navbar-nav navbar-right" style="background-color: #FFCCCC;">
          <li><%= link_to user_path(current_user.id) do %>
                <i class="fas fa-user"> マイページ</i>
              <% end %>
          </li>
          <li><%= link_to posts_path do %>
                <i class="fas fa-info-circle"> お知らせ一覧</i>
              <% end %>
          </li>
          <li id="logout"><%= link_to destroy_user_session_path,method: :delete do %>
                <i class="fas fa-sign-out-alt"> ログアウト</i>
              <% end %>
          </li>
        <% else %>
        <span style="font-size: 30px;color: gray;">Renrakucho</span>
        <ul id="ham-menu" class="nav navbar-nav navbar-right" style="background-color: #FFCCCC;">
          <li><%= link_to "ログイン",new_user_session_path %></li>
          <li><%= link_to "新規登録",new_user_registration_path %></li>
        <% end %>
        </ul>
        <div class="menu-background" style="background-color: #FFCCCC"></div>
      </nav>
      </div>
    </header>
  <% end %>
    <div class="container" style="margin-top: 100px;">
      <div class="row">
        <p id="notice" style="color: green;">
        <% if flash[:notice] %>
          <%= flash[:notice] %>
        <% end %>
      </p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
